@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-color: #F0ABB7;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 700;
}

hr {
    border-bottom: 3px solid #f8f9fa;
    opacity: 1;
    width: 50%;
}

.navbar {
    background-color: #93B1FA;
    text-transform: uppercase;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.493);
}

.btn {
    font-weight: 700;
}

.btn-danger {
    background-color: #F0ABB7;border: #F0ABB7;
    color: #f8f9fa !important;
}

.btn-danger:hover {
    background-color: #f1bcc5;
}

.btn-primary {
    background-color: #93B1FA;border: #93B1FA;
    color: #f8f9fa !important;
}

.btn-primary:hover {
    background-color: #a8bffa;
}

.container p{
    text-transform: uppercase;
}

.thead-dark{
    background-color: #93B1FA;
}

.inner{
    background-color: #f8f9fa;
}

form {
    border: 2px solid #f8f9fa;
    border-radius: 5px;
    background-color: #93B1FA;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.493);
}
