<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Ajouter un patient</title>
</head>

<body>
    {% block content %}
    <div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold text-light" href="{{url_for('home')}}">NURSE JOY</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto me-3 mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{{url_for('view_infirmieres')}}">Infirmières</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light btn btn-danger"
                                href="{{url_for('view_patients')}}">Patients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{{url_for('view_deplacements')}}">Déplacements</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="mx-auto text-center mt-5">
        <h1 class="text-center fw-bold text-light mt-5">Ajout d'un patient</h1>
        <form action="http://localhost:5000/create_patient/" method="POST" class="text-light mx-auto w-25 p-3 mt-5">
            <div class="mb-3">
                <label for="nom" class="form-label"> Nom:
                    <input type="text" name="nom" class="form-control">
                </label>

            </div>
            <div class="mb-3">
                <label for="prenom" class="form-label"> Prénom:
                    <input type="text" name="prenom" class="form-control">
                </label>
            </div>
            <div class="mb-3">
                <label for="naissance" class="form-label"> Date de naissance:
                    <input type="date" name="naissance" class="form-control">
                </label>
            </div>
            <div class="mb-3 form-group">
                <label for="genre" class="form-label"> Genre:
                    <select name="genre" id="genre" class="form-control">
                        <option value="1">Masculin</option>
                        <option value="2">Féminin</option>
                        <option value="3">Autre</option>
                    </select>
                </label>
            </div>
            <div class="mb-3">
                <label for="secu" class="form-label"> Numéro de secu:
                    <input type="text" name="secu" class="form-control">
                </label>
            </div>
            <div class="mb-3 form-group">
                <label for="infirmiere_id" class="form-label"> Infirmière:
                    <select name="infirmiere_id" id="infirmiere_id" class="form-control">
                        {% for infirmiere in infirmieres %}
                        <option value="{{infirmiere[0]}}">{{infirmiere[2]}} {{infirmiere[3]}}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div class="mb-3">
                <label for="numero" class="form-label"> N° de maison:
                    <input type="text" name="numero" class="form-control">
                </label>
            </div>
            <div class="mb-3">
                <label for="rue" class="form-label"> Nom de rue:
                    <input type="text" name="rue" class="form-control">
                </label>
            </div>
            <div class="mb-3">
                <label for="cp" class="form-label"> Code postal:
                    <input type="text" name="cp" class="form-control">
                </label>
            </div>
            <div class="mb-3">
                <label for="ville" class="form-label"> Ville:
                    <input type="text" name="ville" class="form-control">
                </label>
            </div>
            <button type="submit" class="btn btn-danger">Soumettre</button>
        </form>
    </div>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>