<!DOCTYPE html>
<html lang="fr">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Infirmieres</title>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold text-light" href="{{url_for('home')}}">NURSE JOY</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto me-3 mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-light btn btn-danger"
                                href="{{url_for('view_infirmieres')}}">Infirmières</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{{url_for('view_patients')}}">Patients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{{url_for('view_deplacements')}}">Déplacements</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {% block content %}
    <div class="container mt-5">
        <h1 class="text-center fw-bold text-light">Liste des infirmières</h1>
        <div class="container table-responsive py-5">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark text-light">
                    <tr>
                        <th scope="col">Identifiant pro</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Tel Pro</th>
                        <th scope="col">Tel Perso</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Ville</th>
                        <th scope="col">Modification</th>
                        <th scope="col">Suppression</th>
                    </tr>
                </thead>
                <tbody class="bg-light">
                    {% for infirmiere in data %}
                    <tr>
                        <td class="inner">{{ infirmiere[1] }}</td>
                        <td class="inner">{{ infirmiere[2] }}</td>
                        <td class="inner">{{ infirmiere[3] }}</td>
                        <td class="inner">{{ infirmiere[4] }}</td>
                        <td class="inner">{{ infirmiere[5] }}</td>
                        <td class="inner">{{ infirmiere[7] }} {{ infirmiere[8] }}</td>
                        <td class="inner">{{ infirmiere[10] }}</td>
                        <td class="text-center">
                            <a
                            href="http://localhost:5000/update_inf_formulaire?id={{infirmiere[0]}}&identifiant_pro={{infirmiere[1]}}&nom={{infirmiere[2]}}&prenom={{infirmiere[3]}}&tel_pro={{infirmiere[4]}}&tel_perso={{infirmiere[5]}}&idadresse={{infirmiere[6]}}&numero={{infirmiere[7]}}&rue={{infirmiere[8]}}&cp={{infirmiere[9]}}&ville={{infirmiere[10]}}">
                                <img src="{{ url_for('static', filename='img/edit.svg') }}" alt="editer" width="20px">
                            </a>
                        </td>
                        <td class="text-center"><a href="http://localhost:5000/delete/{{infirmiere[0]}}"><img
                                    src="{{ url_for('static', filename='img/remove.svg') }}" alt="supprimer"
                                    width="20px"></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-primary" href="{{url_for('formulaire_infirmiere')}}" role="button">Ajouter une infirmière
                !</a>
        </div>
    </div>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>