<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Patients</title>

    <style>
        table {
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        td {
            border: 1px solid black;
        }
    </style>

</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold text-light" href="{{url_for('home')}}">NURSE JOY</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto me-3 mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{{url_for('view_infirmieres')}}">Infirmières</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light btn btn-danger" href="{{url_for('view_patients')}}">Patients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{{url_for('view_deplacements')}}">Déplacements</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <h1 class="text-center fw-bold text-light mt-5">Liste des patients</h1>

    {% block content %}
    <div class="container table-responsive py-5"> 
        <table class="table table-bordered table-hover">
            <thead class="thead-dark text-light">
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Date de naissance</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Numéro de Sécu</th>
                    <th scope="col">Nom infirmière</th>
                    <th scope="col">Prénom infirmière</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Modification</th>
                    <th scope="col">Supression</th>
                </tr>
            </thead>
            <tbody class ="bg-light">
            {% for patient in data %}
            <tr>

                <td>{{ patient[1] }}</td>
                <td>{{ patient[2] }}</td>
                <td>{{ patient[3].strftime('%d-%m-%Y') }}</td>
                <td>{{ patient[4] }}</td>
                <td>{{ patient[5] }}</td>
                <td>{{ patient[6] }}</td>
                <td>{{ patient[7] }}</td>
                <td>{{ patient[9] }} {{ patient[10] }}</td>
                <td>{{ patient[12] }}</td>

                <td><a href="http://localhost:5000/upd_pat_form?id={{ patient[0] }}&nom={{ patient[1] }}&prenom={{ patient[2] }}&date_de_naissance={{ patient[3] }}&genre={{ patient[4] }}&numero_secu={{ patient[5] }}&idadresse={{patient[8]}}&numero={{ patient[9] }}&rue={{ patient[10] }}&cp={{ patient[11] }}&ville={{ patient[12] }}"><img src="{{ url_for('static', filename='img/edit.svg') }}" alt="editer" width="20px"></a></td>
                <td><a href="http://localhost:5000/del_pat/{{ patient[0] }}"><img src="{{ url_for('static', filename='img/remove.svg') }}" alt="Supprimer" width="20px"></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            <a class="btn btn-primary" href="{{url_for('formulaire_patient')}}" role="button">Ajouter un patient !</a>
        </div>
    </div>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>