<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <form action="http://localhost:5000/upd_pat/" method = "POST">
        <input type="hidden" value="{{data.get('id')}}" name="id">
        <label> nom
            <input type="text" value="{{data.get('nom')}}" name="nom">
        </label>
        <label> prenom
            <input type="text" value="{{data.get('prenom')}}" name="prenom">
        </label>
        <label> date de naissance :
            <input type="date" value="{{data.get('date_de_naissance')}}" name="date_de_naissance">
        </label>
        <label> genre :
            <select name="genre" id="genre" value="{{data.get('genre')}}" >
                <option value="1">Masculin</option>
                <option value="2">Féminin</option>
                <option value="3">Autre</option>
            </select>
        </label>
        <input type="hidden" value="{{data.get('idadresse')}}" name="idadresse">
        <label> numéro de secu :
            <input type="text" name="numero_secu" value="{{data.get('numero_secu')}}">
        </label>
        <label> numéro:
            <input type="text" name="numero" value="{{data.get('numero')}}">
        </label>
        <label> rue:
            <input type="text" name="rue" value="{{data.get('rue')}}">
        </label>
        <label> code postal :
            <input type="text" name="cp" value="{{data.get('cp')}}">
        </label>
        <label> ville:
            <input type="text" name="ville" value="{{data.get('ville')}}">
        </label>
        <input type="submit" value= "Envoyer !">
    </form>
    {% endblock %}
</body>
</html>