<!DOCTYPE html>
<html lang="fr">

<head>
    {% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Document</title>
    {% endblock %}
</head>

<body>
    {% block content %}
    <div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold text-light" href="{{url_for('home')}}">NURSE JOY</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto me-3 mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-light btn btn-danger"
                                href="{{url_for('view_infirmieres')}}">Infirmières</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{{url_for('view_patients')}}">Patients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{{url_for('view_deplacements')}}">Déplacements</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="mx-auto text-center mt-5">
        <h1 class="text-center fw-bold text-light mt-5">Modifier une infirmière</h1>
        <form action="http://localhost:5000/update_infirmiere/" method="POST" class="text-light mx-auto w-25 p-3 mt-5">
            <input type="hidden" value="{{data.get('id')}}" name="id">
            <div class="mb-3">
                <label class="form-label"> identifiant pro
                    <input type="text" value="{{data.get('identifiant_pro')}}" name="identifiant_pro" class="form-control"
                    class="form-control">
                </label>
            </div>

            <div class="mb-3">
                <label class="form-label"> Nom:
                    <input type="text" value="{{data.get('nom')}}" name="nom" class="form-control">
                </label>
            </div>

            <div class="mb-3">
                <label class="form-label"> Prenom:
                    <input type="text" value="{{data.get('prenom')}}" name="prenom" class="form-control">
                </label>
            </div>

            <div class="mb-3">
                <label class="form-label"> Tel pro:
                    <input type="text" value="{{data.get('tel_pro')}}" name="tel_pro" class="form-control">
                </label>
            </div>

            <div class="mb-3">
                <label class="form-label"> Tel perso:
                    <input type="text" value="{{data.get('tel_perso')}}" name="tel_perso" placeholder="0"
                        class="form-control">
                </label>
            </div>

            
            <input type="hidden" value="{{data.get('idadresse')}}" name="idadresse" class="form-control">

            <div class="mb-3">
                <label class="form-label"> Numero de rue:
                    <input type="text" value="{{data.get('numero')}}" name="numero" class="form-control">
                </label>
            </div>

            <div class="mb-3">
                <label class="form-label"> Nom de rue:
                    <input type="text" value="{{data.get('rue')}}" name="rue" class="form-control">
                </label>
            </div>

            <div class="mb-3">
                <label class="form-label"> Code postal:
                    <input type="text" value="{{data.get('cp')}}" name="cp" class="form-control">
                </label>
            </div>

            <div class="mb-3">
                <label class="form-label"> Ville:
                    <input type="text" value="{{data.get('ville')}}" name="ville" class="form-control">
                </label>
            </div>
            <button type="submit" class="btn btn-danger">Soumettre</button>
        </form>
    </div>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>